<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @node.address %>
</p>

<p>
  <strong>Username:</strong>
  <%= @node.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @node.password %>
</p>

<p>
  <strong>User:</strong>
  <%= @node.user_id %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
