<table style = 'border: 1px solid black'>
	<tr>
		<td>Total_memory:</td>
		<td><%= @Total_memory %></td>
		<td>Total_swap:</td>
		<td><%= @Total_swap %></td>
	</tr>
	<tr>
		<td>Avalible_memory:</td>
		<td><%= @Avalible_memory %></td>
		<td>Free_swap:</td>
		<td><%= @Free_swap %></td>
	</tr>
	<tr>
		<td>Used_memory:</td>
		<td><%= @Used_memory %></td>
		<td>Used_swap:</td>
		<td><%= @Used_swap %></td>
	</tr>
	<tr>
		<td>Memory_Cached/Buffered</td>
		<td><%= @Memory_Cached_Buffered %></td>
	</tr>
</table>
